* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.city {
    width: 100%;
    height: 100vh;
    border: 10px solid #fff;
}

.city-opacity {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* IMMAGINI ---------------------------------------- */
#sf {
    background-image: url(../img/san-francisco.jpeg);
    background-size: cover;
}

#ldn {
    background-image: url(../img/london.webp);
    background-size: cover;
}

#brc {
    background-image: url(../img/barcelona.jpg);
    background-size: cover;
}

/* TESTO ------------------------------------------- */
.city-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: #fff;
    text-shadow: 4px 4px #000;
}